<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>SwiftCast</string>
  <key>UILaunchScreen</key>
  <dict/>
  <key>NSLocalNetworkUsageDescription</key>
  <string>SwiftCast serves a local browser viewer and pairs with Chrome on your LAN.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_swiftcast._tcp</string>
  </array>
</dict>
</plist>

